.face{
    width: 400px;
    height: 400px;
    background-color:#ffa511;
    border-radius: 50%;
    position: relative;
}

.mouth{
    width: 250px;
    height: 80px;
    background-color: rgb(105, 18, 18);
    border-radius: 0 0 80px 80px;
    position:absolute;
    top:230px;
    left: 90px;
}

.left-eye,
.right-eye{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 80px;
}

.right-eye{
    left: 250px;
}
